*{
    margin: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
    background-image: url(../background/17580.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
:root{
    --main-color: rgb(1, 36, 186);
    --accent-color: rgb(9, 216, 98);
    --text-color: rgb(53, 53, 53);
    --border: 8px;
}
.container{
    max-width: 1100px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.header{
    height: 80px;
    justify-content: space-between;
}
.logo{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--main-color);
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.menu-link{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
}
.main{
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}
.info-small{
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: 700;
}
.info-heading{
    color: var(--main-color);
    font-size: 4rem;
    font-weight: 700;
}
.info-item{
    margin-top: 60px;
    display: flex;
    gap: 30px;
    color: var(--text-color);
}
.info-item__text{
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 600;
}
.info-item__icons:nth-child(1)::before{
    content: "\f0c2";
    font-weight: bold;
    font-size: 2rem;
    font-family: "Font Awesome 5 Free";
    color: var(--accent-color);
}
.info-item__icons:nth-child(2)::before{
    content: "\f3d1";
    font-weight: bold;
    font-size: 2rem;
    font-family: "Font Awesome 5 Free";
    color: var(--accent-color);
}
.info-item__icons:nth-child(3)::before{
    content: "\f2f2";
    font-weight: bold;
    font-size: 2rem;
    font-family: "Font Awesome 5 Free";
    color: var(--accent-color);
}
.maim__container{
    align-items: flex-start;
    gap: 150px;
}
.intro__form{
    flex-shrink: 0;
    background-color: white;
    padding: 30px;
    border-radius: var(--border);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
}
.form-heading{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 30px;
}
.form-field{
    display: flex;
    flex-direction: column;
}
.form-label{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--text-color);
    margin: 12px 0;
}
.form-input{
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    box-sizing: border-box;
    background: none;
    padding-bottom: 8px;
}
.btn{
    background-color: var(--accent-color);
    padding: 20px 30px;
    border-radius: var(--border);
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 40px;
}